<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edi.expertInfo.dao.dao.RewardMapper" >


  <select id="getReward" resultType="cn.edi.expertInfo.domain.response.RewardResDTO">
		SELECT
			r.id,
			r.expert_id as expertId,
			r.type as type,
			r.program as program,
			r.remark as remark,
			r.grade as grade,
			r.ranking as ranking,
			r.year as year
		FROM
			Reward r
		<where>
			<if test="content !='' and content!=null">
				<bind name="key" value="'%'+ content +'%'"/>
				program like #{key} or type like#{key}
			</if>
		</where>
  </select>

	<select id="getRewardById" resultType="cn.edi.expertInfo.domain.response.RewardResDTO">
		SELECT
			r.id,
			r.expert_id as expertId,
			r.type as type,
			r.program as program,
			r.remark as remark,
			r.grade as grade,
			r.ranking as ranking,
			r.year as year
		FROM
			Reward r
		where r.id = #{id}
	</select>
</mapper>